@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}



/* .header {
    max-width: 1440px;
    margin: 0 auto;

} */

/* nav section */

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.title-color {
    color: #FF42A5;
}


.nav-img {
    width: 86.041px;
    height: 40px;
}

/* .nav-container a{
    text-decoration: none;
} */

.nav-item-container {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-item-container a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    display: flex;
    align-items: center;
    margin-right: 10px;


}

/* banner */

.banner {

    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%) , url('../images/Group 14.png');
    background-repeat: no-repeat;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.banner-content {
     width: 50%;
}

.play {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    text-align: left;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #8758F1;
    position: relative;
    margin-top: -40px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.banner-description {
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: -10px;

}

.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    margin-right: 10px;
    border: 0;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    border: 0;
}

.banner-img{
    width: 50%;
   
}

.banner-img img{
    width: 100%;
}

/* main */

/* online game section */

.online-games {

    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;

}

.online-game-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.online-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


.online-games-img {
    display: flex;
    gap: 24px;
}

.online-img-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}

/* play instantly section */

.play-instantly {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;


}

.play-instantly-content {
    text-align: center;
    width: 50%;
}



.play-instantly-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

.instantly-title {
    color: #F948B2;
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.play-instantly-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}

.play-instantly-img {
    position: relative;
    width: 50%;
}

.play-instantly-img img{

    width: 100%;

}



.angela {
    border-radius: 8px;
    /* border: 10px solid #FFF; */
    position: absolute;
    bottom: -80px;
    left: -150px;


}

.angela img{
    width: 100%;
}

/* icon section */

.icon-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    /* display: flex;
    justify-content: center; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
}

/* .icon-section1{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} */

/* .icon-section2{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
 */

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.icon-img {
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.icons h5 {
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
}

.footer {

    margin-top: 120px;
    background: #0B0223;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-title {

    /* margin: 0 auto; */
    color: #FFF;
    font-size: 45px;
    font-weight: 700;


}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-option {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-option h5 {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.icon {
    color: white;
    gap: 40px;
    font-size: 40px;

}

.icon-link {
    display: inline-block;
    margin-right: 40px;
}

.footer-text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;

}

.footer-text p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}

.footer-copyright p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.hide{
    display: none;
}


@media screen and (max-width:425px) {


    
    .nav-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-item-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-item-container a{
        margin-top: 50px;
    }

   
    .banner {
        
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
      }
    
      .banner-content {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }

     
      .banner-img {
        width: 100%;
        
      }

      .online-games{
        width: 100%;
        text-align: center;
      }


      .online-games-img{
        flex-direction: column;
        margin-top: 50px;
      }

      .online-games h1{
        font-size: 24px;
      }

      .online-games p{
        font-size: 15px;
      }

      .play-instantly {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;
      }

      .play-instantly h1{
        font-size: 24px;
      }

      .play-instantly p {
        font-size: 10px;

      }
    
      .play-instantly-img {
        width: 80%;
        position: relative;
      }

      .angela {
        width: 50%;
        position: absolute;
        bottom: -80px;
    left: -50px;

      }

      .icon-section{
        margin-top: 90px;
        grid-template-columns: repeat(3, 1fr);
         margin-left: 100px ;
        /* margin-right: 100px; */
         */
      }

      .icons{
        width: 10%;
      }

      .footer {
        margin-top: 80px;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .footer-option {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;
      }

      .footer-icon {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 10px;

      }

      .icon {
        font-size: 30px;
      }

      .footer-text {
        flex-wrap: wrap;
        gap: 20px;
      }

    
} 



@media screen and (min-width:576px) and (max-width:768px){
    .nav-container {
        flex-wrap: wrap;
      }
    
      .nav-item-container {
        margin-top: 20px;
        justify-content: center;
      }

      .banner {
        
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
      }
    
    
      .banner-content {
        width: 100%;
        text-align: center;

      }

      .banner-content h1{
        text-align: center;
      }

      .banner-img{
        width: 100%;
      }

      .online-games-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-content: center;
      }
    
      .play-instantly {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
      }
    
      .play-instantly-img {
        text-align: center;
        position: relative;
      }
    
      .angela {
        width: 50%;
        position: absolute;
        left: -100px;
        bottom: -60px;
        
      }
   
      .icon-section {
        grid-template-columns: repeat(3, 1fr);
      }


}